{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "react-hot-loader/babel",
    ["react-css-modules", 
      {
        "generateScopedName":"[local]___[hash:base64:5]"
      }
    ]
  ]
}