.list {
  padding-left: 0;
}

.item {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-size: 15px;
  margin: 0;
}

.pic {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.icon {
  display: block;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

.link {
  color: #ccc;
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

